/* Global color variables */
:root {
    --blackCoffee: #3C2F2F;
    --brandy: #854442;
    --desertSand: #DFCCAF;
    --coffee: #6F4436;
    --paleTaupe: #BE9B7B;
    --sand: #e6d5bb;
    --fadedBrandy: rgb(133, 68, 66, 0.5);
    --fadedBlackCoffee: rgb(60, 47, 47, 0.4);
    --fadedSand: rgb(230, 213, 187, 0.6);
}

/* Element styling */
body {
    background-image: url('images/PIXNIO-coffee.jpg');
    background-size: cover;
    background-attachment: fixed;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote {
  text-align: center;
  color: var(--sand);
  background-color: var(--fadedBlackCoffee);
  border-style: solid;
  border-color: var(--fadedSand);

}

header {
    color: var(--desertSand);
    text-align: center;
    padding: 20px;
    background-color: var(--brandy);
}

footer {
    color: var(--desertSand);
    text-align: center;
    padding: 5px;
    background-color: var(--blackCoffee);
    width: 100%;
}

/* Class styling */
.img {
  max-height: 2000px;
  max-width: 2000px;
}

.link {
  color: var(--desertSand)
}

/* Changes the color of the navbar links when hovering over them */
.link:hover {
  color: var(--paleTaupe)
}



/* Button used to open the coffee log form - fixed at the bottom of the page
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

The popup form - hidden by default
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

Add styles to the form container
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

Full-width input fields
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

When the inputs get focus, do something
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

Set a style for the submit/login button
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

Add a red background color to the cancel button
.form-container .cancel {
  background-color: red;
}

Add some hover effects to buttons
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} */