:root {
    --blackCoffee: #3C2F2F;
    --brandy: #854442;
    --desertSand: #DFCCAF;
    --coffee: #6F4436;
    --paleTaupe: #BE9B7B;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('images/PIXNIO-coffee.jpg');
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: calc(100vh - 17rem);
    overflow-y: scroll;
}


header {
    color: var(--desertSand);
    text-align: center;
    padding: 20px;
    background-color: var(--brandy);
}

footer {
    color: var(--desertSand);
    text-align: center;
    padding: 30px;
    background-color: var(--blackCoffee);
    width: 100%;
    position: fixed;
    top: calc(100% - 5rem);
}
