body {
    background-image: url('../images/hot-chocolate-pine-cone-copy-space.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    color: whitesmoke;
    background-color: rgba(24, 27, 27, 0.6);
    
}

footer {
    color:whitesmoke;
    position: fixed;
    bottom: 0;
    margin: 20px;
}
