:root {
    --blackCoffee: #3C2F2F;
    --brandy: #854442;
    --desertSand: #DFCCAF;
    --coffee: #6F4436;
    --paleTaupe: #BE9B7B;
}



body {
    background-image: url('../images/hot-chocolate-pine-cone-copy-space.jpg');
    background-size: cover;
    background-attachment: fixed;
}

footer {
    color: var(--desertSand);
    background-color: var(--blackCoffee);
    position: fixed;
    bottom: 0;
    margin: 20px;
}
